<div class="container">
  <div class="row ">
    <div class="col-12 mb-4 position-relative">
      <h1 class="section-title">na-childについて</h1>
    </div>
    <div class="col-lg-4 order-1 order-lg-2 mb-4 mb-lg-0">
      <div class="bg-light pt-5">
      </div>
    </div>
    <div class="col-lg-4 order-2 order-lg-1">
      <p>na-child 創設者　田中太郎</p>
    </div>
    <div class="col-lg-4 order-3 order-lg-3">
      <p>na-childでは、森の幼稚園の予約と日々の日誌、写真の閲覧をすることができます</p>
      <p class="btn">
        <%= link_to 'トップ', root_path, class: 'btn smoothscroll btn-primary' %>
      </p>
    </div>
</div>