
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-12 mt-lg-5 text-left align-self-center text-intro">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="text-black">na-child　幼稚園予約サイト</h1>
              <p class="lead">
                自然の中で子育てをしよう<br>
                一人で抱え込まないで、自然に癒しを求めよう！<br>
                感情を表に出して、あるがままの自分でいよう
              </p>
              <p class="btn">
                <%= link_to 'スタート', public_homes_about_path, class: 'btn smoothscroll btn-primary' %>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
